 body {
    position: relative; 
    background-image: url("background.jpg");
    background-size: 100% 100%;
  }
  .affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
  }
  .navbar {
    margin-bottom: 0px;
  }

/*.container
{
    display: flex;*/
    flex-direction:row-reverse;
    justify-content:center;
  
}*/

h2
{
  font-weight: bold;
}

   #head
  {
/*     background-image: url("1.jpg");
    background-size: 100% 100%;*/
     color: red;
      height:200px;
}
#headImg
{
   border-radius: 25px;
  height:195px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

  .affix ~ .container-fluid {
    position: relative;
    top: 50px;
  }
    
  #section1 {
    padding-top:80px;
    height:500px;
    color: #77777d; 
   /* background-color: #1E88E5;*/
  }
    
  #section2 {
    padding-top: 80px; 
    height:700px; 
    color: #77777d; 
 /*   background-color: #673ab7;*/
  }
    
  #section3 {
    padding-top:80px;
    height:500px;
    color: #77777d; 
  }
    
  #section41 {
    padding-top:50px;
    height:700px;
    color: #77777d; 
 /*   background-color: #00bcd4;*/
  }
    
  #section42 {
    padding-top:50px;
    height:500px;
    color: #fff; 
    background-color: #009688;
  }

.navbar-inverse
  {
background-color: "red";
     text-align: right;



  }



