 body {
    position: relative; 
    background-image: url("pic/backgroundmobile.jpg");
    background-size: 100% 100%;
  }
  @media screen and (max-width: 600px) {
   body {
    position: relative; 
    background-image: url("pic/backgroundmobile.jpg");

  }
}


  .affix {
    top:0px;
    width: 100%;
    z-index: 9999 !important;
  }
  .navbar {
    margin-bottom: 0px;
  }

.container
{
    display: flex;
    /*flex-direction:row-reverse;*/
    justify-content:center;

 } 

/*#myCarousel
{

  
   width:70%;
   
}*/
 
#carouselExampleIndicators
{
  margin: auto;
    width: 100%; 
    height: 200px;
    max-width: 400px; !important
    max-height:200px; !important
}

.imgtext
{
  border-radius: 50%;
  float: left;
  width: 200px;
  height: 200px;
}
h2
{
  font-weight: bold;
}

a
{
  margin: 10px;
  font-size: 18px;
  color:  #77777d; 
}

    @media screen and (max-width: 600px) {
a {
  margin: auto;
  font-size: 24px;
  }
}

a:hover{
  background-color: yellow;
}

    @media screen and (max-width: 600px) {
h4 {
 
  font-size: 14px;
  }
}

h4:hover{
  background-color: yellow;
}


  #head
  {
   
      height:200px;
}
 #headImg
{
   border-radius: 25px;
  height:100%;
  width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 600px) {
#headImg {
  height: 90%;
    width: 100%;
  }
}

  .affix ~ .container-fluid {
    position: relative;
    top: 50px;
  }
    
  #section1 {
    /*height:100%;*/
    width: 90%;
    color: #77777d; 
   /* background-color: #1E88E5;*/
  }
  @media screen and (max-width: 600px) {
#section1 {
padding-top:120px;
/*margin-bottom: -900px;*/
  }
}

  #section2 {
    /*padding-top: 80px; */
    /*height:100%; */
      width: 90%;
    color: #77777d;
    /*margin-bottom: 100px */
 /*   background-color: #673ab7;*/
  }
    @media screen and (max-width: 600px) {
#section2 {
 padding-top: 120px;
/*margin-bottom: 500px;*/
}
}
    
  #section3 {
    /*padding-top:80px;*/
    /*height:100%;*/
    width: 90%;
    color: #77777d; 
  }
 @media screen and (max-width: 600px) {
#section3 {
 padding-top:120px;
/*margin-bottom: 50px;*/
 }
}
    
  #section4 {
    /*height:100%;*/
    width: 90%;
    color: #77777d; 
 /*   background-color: #00bcd4;*/
  }
  
  @media screen and (max-width: 600px) {
#section4 {
padding-top:120px;
  }
}

label
{

   padding-left: 100%;
}

@media screen and (max-width: 600px) {
#info {




  }
}


